# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environment

venv/
env/
.venv/

# Environment variables (IMPORTANT)

.env

# Streamlit

.streamlit/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# VS Code

.vscode/

# Jupyter (if any)

.ipynb_checkpoints/

# Build files

dist/
build/
*.egg-info/

# Secrets

*.env
.env.*
